body{
    background-color: #D5E1EF;
}
.qr-card{
    display: flex;
    justify-content: center;
    margin: 25%;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    align-items:center;
    background-color: white;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
h1{
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-top: 20px;
    line-height: 1.3;
    letter-spacing: -1px;
    color: #333;
    text-align: center;
    
}
p{
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -1px;
    color: #919191;
    text-align: center;
    margin-top: 10px;
}
