body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D5E1EF;
}
.qr-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: white;
    

}
.qr-text{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 0%;
}

img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
    margin-top: 20px;
    line-height: 1.3;
    letter-spacing: -1px;
    color: #333;
    text-align: center;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: -1px;
    color: #919191;
    text-align: center;
    margin-top: 10px;
}
.attribution{
    display: flex;
    margin-top: 20px;
    align-content: flex-end;
}